body{
margin:0;
font-family:Arial;
background:#f3f4f6;
}

.layout{
display:flex;
height:100vh;
}

.sidebar{
width:220px;
background:#111827;
color:white;
padding:20px;
}

.sidebar button{
width:100%;
padding:12px;
margin-bottom:10px;
background:#1f2937;
border:none;
color:white;
border-radius:6px;
cursor:pointer;
}

.sidebar button:hover{
background:#374151;
}

.main{
flex:1;
padding:30px;
overflow:auto;
}

.page{
display:none;
}

.cards{
display:flex;
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
width:200px;
text-align:center;
}

.card p{
font-size:28px;
}

textarea{
width:100%;
height:120px;
padding:10px;
border-radius:6px;
border:1px solid #ddd;
}

input{
padding:10px;
margin-right:10px;
border-radius:6px;
border:1px solid #ddd;
}

button{
padding:10px 15px;
background:#2563eb;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#1d4ed8;
}

ul{
list-style:none;
padding:0;
margin-top:15px;
}

li{
background:white;
padding:10px;
margin-bottom:8px;
border-radius:6px;
box-shadow:0 1px 3px rgba(0,0,0,0.1);
}





/* DARK MODE */

.dark{
background:#111;
color:white;
}

.dark .sidebar{
background:#000;
}

.dark .card{
background:#1f2937;
color:white;
}

.dark li{
background:#1f2937;
color:white;
}